/* CSS TOTALSPORTPLUS*/

body {
    font-family: Arial, sans-serif;
    padding-top: 56px; 
    
    background-color: #E6F7FF; 
}

.bg-light-blue {
    background-color: #c1dbe8
}

.section-headline {
    font-family: 'Oswald', sans-serif; 
    font-weight: 700; 
    color: #007bff; 
    border-bottom: 3px solid #007bff;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 2rem !important;
}

/* COOKIE DEBUG (VISITORS DON'T SEE)*/
#dev-cookie-debug {
    display: none !important; 
}

#hero-image {
    background: url('./img/HERO\ IMAGE.jpeg') no-repeat center center;
    background-size: cover; 
    min-height: 600px;
    position: relative;
}
#hero-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1;
}
#hero-image > div {
    z-index: 2; 
}

.carousel-item img {
    height: 400px; 
    object-fit: cover; 
}
h5 {
    font-size: large;
    font-weight: bold;
    color:#007bff
}

#olimpiadi-2026 {
    background-image: url('./img/OLYMPIC.png');
    background-color: #c1dbe8; 
    background-repeat: no-repeat;
    background-position: center 80%; 
    position: relative;
    overflow: hidden;
    /* THIS HELPS FOR THE READING AND VISIBILITY */
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.7);
    color: #212529; 
}

#olimpiadi-2026 * {
    position: relative;
    z-index: 2;
}


#store .card {
    transition: transform 0.2s;
    height: 100%;
    background: none; 
    border: none;
    position: relative;
    overflow: hidden;
}

#store .card-body-content {
    position: relative;
    z-index: 2;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: .375rem;
}

#store .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
}

.store-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transition: opacity 0.3s ease;
    z-index: 1; 
    opacity: 0.8; 
}


.nike-bg {
    background-image: url('./img/NIKE.webp');
}
.adidas-bg {
    background-image: url('./img/ADIDAS.jpg');
}
.puma-bg {
    background-image: url('./img/PUMA.jpg');
}
